* {
  padding: 0;
  margin: 0;
  border: none;
}
body {
  height: 100vh;
  width: 100vw;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  background-image: url("../image/loginback.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.login-wrapper {
  position: relative;
  left: 380px;
  top: 150px;
  width: 400px;
  height: 350px;
  padding: 40px;
  box-sizing: border-box;
}

h1 {
  position: relative;
  left: 450px;
  top: 120px;
  font-size: 30px;
  color: black;
  margin-bottom: 20px;
}
#login-form > input {
  width: 100%;
  height: 48px;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 16px;
  border-radius: 6px;
  background-color: #f8f8f8;
}
#login-form > input::placeholder {
  color: #d2d2d2;
}
#login-form > input[type="submit"] {
  color: #fff;
  font-size: 16px;
  background-color: #ff1493;
  margin-top: 20px;
}

#login-form > input[type="checkbox"] {
  display: none;
}
#login-form > label {
  color: #999999;
}
#login-form input[type="checkbox"] + label {
  cursor: pointer;
  padding-left: 26px;
  background-image: url("checkbox.png");
  background-repeat: no-repeat;
  background-size: contain;
}
#login-form input[type="checkbox"]:checked + label {
  background-image: url("checkbox-active.png");
  background-repeat: no-repeat;
  background-size: contain;
}
