.background {
  width: 50%;
  height: 100%;
  margin-left: 25%;
  background-color: #fff0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mycart_tab {
  position: absolute;
  width: 150px;
  top: 105px;
  left: 580px;
  z-index: 5;
}
.mygiboo_tab {
  position: absolute;
  width: 150px;
  top: 65px;
  left: 780px;
  z-index: 5;
}
.mytake_tab {
  position: absolute;
  width: 150px;
  top: 105px;
  left: 980px;
  z-index: 5;
}

.container {
  background-image: url("../static/icons/hologramImg.png");
  width: 100%;
  margin-top: 130px;
  z-index: 10;
}

/*상품들*/
.items {
  width: 85%;
  margin-left: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  justify-content: center;
  margin-top: 50px;
}
.item {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 12px;
}

.itemImg {
  width: 100%;
  height: 150px;
}

.itemTitle {
  font-size: 18px;
  font-family: "Irish Grover";
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}

.priceAndDue {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.itemPrice {
  font-size: 16px;
  font-weight: 500;
  font-family: "Irish Grover";
}

.itemDue {
  font-size: 16px;
  color: red;
  font-weight: 500;
  font-family: "Irish Grover";
}

.viewAndliked {
  width: 200px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.viewMore {
  width: 100px;
  height: 30px;
  background-color: #ff53a5;
  font-family: "Irish Grover";
  font-size: 14px;
  color: white;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.isliked {
  display: inline-block;
  width: 80px;
  height: 30px;
}
