<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/mypageTab3.css" />
  </head>
  <body>
    <div class="background">
      <img src="../static/icons/mycart_tab.png" class="mycart_tab" />
      <img src="../static/icons/mygiboo_tab.png" class="mygiboo_tab" />
      <img src="../static/icons/mytake_tab.png" class="mytake_tab" />
      <div class="container">
        <div class="items" id="itemContainer"></div>
      </div>
    </div>
    <!--mycart.js 생성 후 목록 받아와야-->
    <script src="../static/takePage.js"></script>
  </body>
</html>
