<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/mypageTab.css" />
  </head>
  <body>
    <div class="background">
      <img src="../static/icons/mycart_tab.png" class="mycart_tab" />
      <img src="../static/icons/mygiboo_tab.png" class="mygiboo_tab" />
      <img src="../static/icons/mytake_tab.png" class="mytake_tab" />
      <div class="container">
        <div class="itemContainer" id="itemContainer">
          <span>임시 항목</span>
          <span style="align-items: center">
            <img
              class="profile-image"
              id="user-profile-image"
              src="프로필.png"
              alt="프로필 이미지"
            />
            <h1 id="username" style="display: inline">Kitty</h1>
          </span>
          <img
            class="profile-image"
            id="user-profile-image"
            src="프로필.png"
            alt="프로필 이미지"
          />
          <h1 id="username" style="display: inline">Kitty</h1>
        </div>
      </div>
    </div>
  </body>
</html>
