<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/timeline.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Irish+Grover&family=Source+Serif+4:opsz@8..60&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="background">
      <div class="container">
        <img src="../static/icons/tape.png" class="tapeTop" />
        <img src="../static/icons/face.png" class="face" />
        <div class="title">TIMELINE</div>

        <div id="timelineContainer" class="timelineContainer"></div>
      </div>
      <div class="closeBtn">Close</div>
      <img src="../static/icons/tape.png" class="tapeBottom" />
    </div>
    <script src="../static/timeline.js"></script>
  </body>
</html>
